
.custom-link {
    color: #B3B3B3;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.custom-link:hover {
    color: #FFFFFF;
}

.dvd-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.dvd-page .nav {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    background-color: #2E3440;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 15px 32px;
}

.dvd-page form {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
}

.dvd-page .form h3{
    text-align: left;
}

.dvd-page-section {
    background-color: #2E3440;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 15px 32px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #D8DEE9;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    background: #434C5E;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #ECEFF4;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    transition: background 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    background: #4C566A;
    outline: none;
}

button {
    background: #81A1C1;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
    align-self: flex-end;
}

button:hover {
    background: #88C0D0;
}

button:disabled {
    background: #636970;
    cursor: not-allowed;
}


.container{
    display: flex;
    flex-direction: row;
    max-height: calc(100% - 64px);
    justify-content: center;
    max-width: 100%;
}

.container .side-nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1 1 auto;
    background-color: #1beabd;
    max-width: 300px;
}
.container .form {
    display: flex;
    flex-direction: column;
    flex: 2 1 auto;
    background-color: #6A5ACD;
    max-width: 700px;
    overflow: auto;
    gap: 32px;
}

.container .section-block
{
    background-color: #2E3440;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 15px 32px;

}