html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

main {
    flex: 1;
    padding: 20px;

    overflow-y: auto;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}