.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    color: white;
}

header {
    display: flex;
    flex: 0.5;
    max-height: 128px;
    min-height: 64px;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    background:  linear-gradient(135deg, #FF5E62, #FF9966, #F5E050);
    overflow: hidden;
}

header h1 a {
    margin-left: 16px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

main {
    position: relative;
    display: flex;
    flex: 9;
    flex-direction: column;
    overflow: auto;
}



/*
    Making a menu in native is a PAIN
 */

.backdrop {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background-color: #000000b3;
    backdrop-filter: blur(2px);
}

.backdrop.active {
    display: block;
}


.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: -250px;
    background-color: #FF5E62;
    padding-top: 60px;
    transition: left 0.5s ease;
}

.cart-nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 100;
    top: 0;
    right: -250px;
    background-color: #FF5E62;
    padding-top: 60px;
    transition: left 0.5s ease;
}


.sidenav a {
    padding: 5px;
    text-align: right;
    text-decoration: none;
    font-size: 2em;
    color: white;
    display: block;
    transition: 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.sidenav a:hover {
    color: #111;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav.active {
    left: 0;
}

.cart-nav.active {
    right: 0;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

#openBtn {
    margin: 5px 0;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

a.sensitive {
    color: red;
}

#openCart {
    align-self: auto;
    text-align: right;
    flex-grow: 1;
    padding: 5px;
}

.cart-nav .close {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
}

.cart-nav a {
    padding: 5px;
    text-align: right;
    text-decoration: none;
    font-size: 2em;
    color: white;
    display: block;
    transition: 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.cart-nav a:hover {
    color: #111;
}

.cart-item a {
    font-size: 1em;
    text-align: center;
}

.cart-remove {
    background-color: #353535;
    cursor:pointer;
}

.cart-remove:hover {
    background-color: #575757;
    cursor:pointer;
}