/*
    Defaults
 */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2B2D42, #4A4E69);
}

header, footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

label {
    display: flex;
    height: 32px;
    line-height: 32px;
    padding: 10px;
}

label span {
    display: none;
}

label input {
    flex: 1;
    linear-gradient(21deg, #10abff, #1beabd);
    border-radius: 9999em;
    text-align: center;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 280px;
    height: 32px;
}

::placeholder {
    text-align: center;
}

h1, h2, h3, h4
{
    color: #FFFF33;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

a
{
    color: #B3B3B3;
}