/*
    Defaults
 */

html, body {
    height: 100%;
    margin: 0;

    scrollbar-color: #fd6161 #f3da50;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2B2D42, #4A4E69);
}

header, footer {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

label {
    font-size: 16px;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="submit"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(145deg, #1C1F36, #343A59);
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="submit"]:focus {
    background: linear-gradient(145deg, #10abff, #1beabd);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    outline: none;
}

::placeholder {
    color: #B3B3B3;
    text-align: center;
    opacity: 0.7;
}

input[type="submit"] {
    cursor: pointer;
    background: linear-gradient(145deg, #1beabd, #10abff);
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background: linear-gradient(145deg, #10abff, #1beabd);
}


h1, h2, h3, h4
{
    text-align: center;
    color: #FFFF33;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

a
{
    color: #B3B3B3;
}

.clickable{
    cursor: pointer;
}

.custom-link {
    color: #B3B3B3;
    text-decoration: underline;
    cursor: pointer;
}