h2
{
    margin: 20px auto;
}

table {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #3C3F58; /* Slightly lighter than the background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #FFF; /* White text for contrast */
}

thead {
    background-color: #FF6F61; /* Retro orange color */
    color: #FFF;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #4C506A; /* Slightly lighter shade for borders */
}

thead tr th {
    text-align: center;
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background-color: #4C506A; /* Alternating row color */
}

tbody tr:hover {
    background-color: #61648F; /* Highlight row color on hover */
}

th {
    text-align: left;
}

.col-price
{
    text-align: right;
}

.col-number
{
    text-align: right;
}

.col-short
{
    text-align: center;
}

.table-wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; /* Ensures it matches the table's width */
    margin-bottom: 10px;
}

.table-search {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #FFF;
}

.search-input {
    padding: 10px; /* Slightly increased padding for better aesthetics */
    border: 1px solid #4C506A;
    border-radius: 4px;
    background-color: #3C3F58;
    color: #FFF;
    margin-right: 10px;
    flex-grow: 1; /* Ensures the input expands to fill space */
    font-size: 14px;
}

.search-button {
    padding: 10px 16px; /* Increase padding for consistency with input */
    border: 1px solid #FF6F61;
    background-color: #FF6F61;
    color: #FFF;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.search-button:hover {
    background-color: #FFC107;
    color: #2D2F42;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 10px; /* Increase margin for spacing */
    padding: 10px 20px; /* Larger padding for better clickability */
    text-decoration: none;
    color: #FFF;
    border: 1px solid #FF6F61;
    background-color: #FF6F61;
    border-radius: 4px;
    cursor: pointer;
}

.pagination a.pagination-prev, .pagination a.pagination-next {
    font-weight: bold;
}